p{
    color: aquamarine;
}

.D1{
    color: blueviolet;
}

#d1{
    color: aqua;
    font-size: 40px;
}


h2{
    color: brown;
}

.H1{
    color: deeppink;
}

#h1{
    color: blueviolet;
}