.image{
  border-radius:50%;
  height:50px;
  width:50px;
}
.text{
  background-color:white;
  font-family:"normal";
  font-size:15px;
  border-top-right-radius:5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height:25px;
  width:200px;
  text-align:left;
}
.main{
  background-color: whitesmoke;
}
.text_right{
  background-color:lightgreen;
  font-family:normal;
  font-size:15px;
  border-top-left-radius:5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height:25px;
  width:200px;
  text-align:right;

}