.div2{
    flex-direction: row;
}
.sec1{
    display: flex;
    justify-content: center;
    gap: 1%;
}
.section1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
}
h2{
    margin-bottom: -20px;
}
.sec2>div{
    /* border: 2px solid; */
    width: 200px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
