*{
    margin: 0%;
    padding: 0%;
}
.sec{
    /* border: 2px solid; */
    height: 1000px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 200px 200px 200px 200px;
    /* row-gap: 20px;
    column-gap: 20px; */
    gap: 20px;
    justify-content: center;
    /* align-content: center; */
}
.div1{
    /* border: 2px solid; */
    /* height: 200px; */
}
.div1:hover{
    transform: scale(0.9);
}
.div2:hover{
    transform: scale(1.1);
}