*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    /* border: 2px solid; */
    display: flex;
    height: 25px;
    padding: 10px;
    background-color: black;
    color: white;
    gap: 30px;
    position: sticky;
    top: 0%;
    z-index: 2;
}

.section1{
    /* border: 2px solid red; */
    height: 500px;
    background-image: url("https://www.w3schools.com/w3images/parallax1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.logo{
    /* border: 2px solid; */
    width: 260px;
    display: flex;
    padding: 10px;
    letter-spacing: 5px;
    background-color: black;
    color: rgb(232, 230, 228);
}
.section2{
    /* border: 2px solid red; */
    height: 300px;
    text-align: center;
    color: rgb(139, 135, 135);
    padding: 20px;
}
.section3{
    /* border: 2px solid; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    /* border: 2px solid; */
    height: 300px;
    width: 450px;
    text-align: center;
    padding: 10px;
    color: rgb(133, 131, 131);
}
.img1{
    opacity: 0.6;
}
.img1:hover{
    opacity: 1;
}
.section4{
    /* border: 2px solid; */
    height: 300px; 
    padding: 20px;
    color: rgb(116, 113, 113);
}
.div1{
    border: 2px solid;
    height: 30px;
    width: 750px;
    margin-top: 5px;
    margin-left: 20.5%;
}
.h4{
    letter-spacing: 5px;
    padding: 10px;
}
.section5{
    /* border: 2px solid; */
    background-color: rgb(77, 76, 76);
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    color: whitesmoke;
    padding: 10px;
}
.section6{
    /* border: 2px solid red; */
    background-image: url("https://www.w3schools.com/w3images/parallax2.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.logo1{
    /* border: 2px solid; */
    width: 260px;
    padding: 10px;
    letter-spacing: 5px;
    color: rgb(232, 230, 228);
    font-size: 30px;
}
.section7{
    /* border: 2px solid; */
    height: 500px;
    width: 950px;
    margin-left: 18%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.img2{
    /* border: 2px solid; */
    height: 200px;
    width: 200px;
    gap: 10px;
    margin-left: 2.5%;
    opacity: 1;
}
.img2:hover{
    opacity: 0.6;
}
.section8{
    /* border: 2px solid; */
    height: 550px;
    background-image: url("https://www.w3schools.com/w3images/parallax3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -240px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.logo2{
    /* border: 2px solid; */
    width: 200px;
    padding: 10px;
    letter-spacing: 5px;
    color: rgb(232, 230, 228);
    font-size: 30px;
    
}
.section9{
    /* border: 2px solid; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.img3{
    /* border: 2px solid; */
    height: 300px;
    width: 260px;
}
.section10{
    /* border: 2px solid red; */
    background-color: gray;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section10:hover{
    background-color: black;
}